<h4>User Details</h4>
<table >
   <tr><td>FirstName : <%=@address.firstname%><td></tr>
   <tr><td>LastName  : <%=@address.lastname%><td></tr>
   <tr><td>Email  : <%=@user.email%><td></tr>
   <tr><td>Gender  : <%=@address.gender%><td></tr>
   <tr><td>Mobile Number  : <%=@address.mobile%><td></tr>
   <tr><td>Landline Number  : <%=@address.landline%><td></tr>
   <tr><td>Country  : <%=@address.contry%><td></tr>
   <tr><td>State  : <%=@address.state%><td></tr>
   <tr><td>City  : <%=@address.city%><td></tr>
   <tr><td>Pin Code  : <%=@address.pin_code%><td></tr>
 </table>