<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :Category %><br />
    <%= f.select :category_id, options_for_select(@category.collect {|a| [a.name, a.id]}) %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity_value %>
	<%= f.select :quantity_id, options_for_select(@quantity.collect {|a| [a.symbol, a.id]}) %>
  </div>
  <div class="field">
    <%= f.label :total_price %><br />
    <%= f.text_field :total_price %>
  </div>
  <div class="field">
    <%= f.label :no_of_bags %><br />
    <%= f.text_field :no_of_bags %>
  </div>
  <div class="field">
    <%= f.label :bag_size %><br />
    <%= f.text_field :bag_size %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
